body {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  padding: 20px 20px 60px;
  max-width: 680px;
  display: grid;
  align-content: center;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
  text-align: center;
  background-color: #FFEB3B;
}

a {
  cursor: pointer;
  color: #0076ff;
  text-decoration: none;
  transition: all 0.2s ease;
  border-bottom: 1px solid white;
}

a:hover {
  border-bottom: 1px solid #0076ff;
}


.time-left-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.time-component {
  font-size: 48px;
  display: flex;
  flex-direction: column;
}

.time-component .title {
  font-size: 20px;
}

.time-component .numbers {
  display: flex;
  flex-direction: row;
  align-self: center;
}
